AI_SERVICE_PORT=8000
AI_EXECUTION_MODE=simulated
FACE_DETECTION_MODEL=SCRFD
FACE_TRACKING_MODEL=ByteTrack
FACE_RECOGNITION_MODEL=ArcFace
LIVENESS_MODEL=MediaPipe Face Landmarker
ANTI_SPOOF_MODEL=MiniFASNetV2
ATTENDANCE_RISK_MODEL=XGBoost placeholder
RECOGNITION_THRESHOLD=0.83
REVIEW_THRESHOLD=0.74
PASSIVE_SPOOF_THRESHOLD=0.75
ACTIVE_LIVENESS_THRESHOLD=0.72
